h1{
    font-family: TH kodchasal;
    font-size: 50px;
    font-weight: bold;
    color: black;
    }
h2{
    font-family: TH kodchasal;
    font-size: 50px;
    text-indent: 40px;
    font-weight: bold;
    color: black;
    }
ion-icon{
    float: left;
    margin-left: 105px;
}
ion-navbar{
    text-align: center;
}
p{
    font-family: TH kodchasal;
    font-size: 20px;
    color: black; 
}
.menu{
    color: antiquewhite;
}